@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    list-style: none;
    font-family: "Montserrat", sans-serif;
}

body{
    background-color: #0f0f1e;
    color: white;
    overflow: hidden;
}

header{
    position: fixed;
    width: 90vw;
    top: 0;
    padding: 20px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 3;
}

.logo{
    font-family: "Orbitron", sans-serif;
    font-size: 2rem;
    font-weight: 900;
    color: #00f7ff;
    text-shadow: 0 0 10px rgba(0, 247, 255, 0.5);
}

header nav ul{
    display: flex;   /*ajusta oq tem dentro do nav*/
    gap: 48px;
}

header nav ul li{
    cursor: pointer;
    position: relative;  /*<li> é pai do content, que é (absolute)*/
    padding: 5px 0px;
}

header nav ul li::after{
    content: '';  /*FILHO da <li>*/
    position: absolute;  /*deixa exatamente onde eu quero*/
    left: 0;
    bottom: 0;
    width: 0px;
    height: 2px;
    background-color: #00f7ff;
    transition: width .3s ease;
}

header nav ul li:hover::after{
    width: 100%;
}

.container{
    height: 100vh;
    position: relative;
    background: linear-gradient(135deg, #0f0f1e 0%, #1f1f3a 100%);
}
.container::before{
    content: '';
    position: absolute;
    width: 500px;
    height: 500px;
    border-radius: 50%;
    background: radial-gradient(circle, rgba(0, 247, 255, 0.2) 0%, rgba(15, 15, 30, 0) 70%);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
}

